*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ukusi h2 ::after{
    content:"";
    height: 2px;
    width: 1000px;
    color: black;
}

#hero{
    background: url(https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?q=80&w=2103&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center/cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 

}
.heroContent{
    color: black;
    background-color: rgb(255, 255, 255, 0.7); 
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;

   
}

.ukus img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}
.ukus img:hover{
    transform: rotateY(180deg);
}

#ukusi{
    background-color: #FFC5D3;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 3px  grey;
    
}

.ukusi-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}


.ukus{
    text-align: center;
    padding: 15px;
}

#najprodavanije {
    background-color: #FDFD96;
    text-align: center;
    padding: 30px;
    position: relative;
}
#najprodavanije img{
    height: 300px;
    width: 200px;
    margin: 20px;
    box-shadow: 4px 3px  grey;
    border-radius: 20px;
}

.nutritivne-vrednosti{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 5px;
    max-width: 300px;
    padding-bottom: 10px;
    margin: auto;
}
.cena{
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.alergeni{
    font-weight: bold;
    padding: 10px;

}

.nalepnica{
    background-color: red;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: large;
    position: absolute;
    top: 10px;
    left: 400px;
    animation: swing 2s infinite ease-in-out ;
    transform-origin: top center;
}

@keyframes swing{
    0% { transform: rotate(0deg);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(-5deg);}
    100% { transform: rotate(0deg);}
}

#zastoBasMi {
    background-color: #FFC5D3;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 4px 3px  rgb(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.oNama-slika img{
    width: 100%;
    height: 100%;
    display: block;
   border-radius: 20px 0 0 20px;
}

.oNama{
    padding: 20px;
}
/* Pocetak sekcije preporuke */

#preporuke{
background-color: #FDFD96;
text-align: center;
padding: 20px;
}

.preporuke-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 20px auto;
   
}

.preporuka{
    background-color: #F9E4B7;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 4px 3px  rgb(0, 0, 0, 0.4);
    opacity: 0;
}
.preporuka:nth-child(1){
    animation: slideInLeft 1s ease forwards;
    animation-delay:0.2s;
}
.preporuka:nth-child(2){
    animation: slideInRight 1s ease forwards;
    animation-delay:0.4s;
}
.preporuka:nth-child(3){
    animation: slideInRight 1s ease forwards;
    animation-delay:0.6s;
}
@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes slideInRight{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    
}

.preporuka-osoba img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.preporuka-osoba{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

}


/* Kraj sekcije preporuke */

/* Pocetak sekcije registracija */

#registracija{
    background-color:  #FFC5D3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forma{
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 700px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.input{
    display: flex;
    align-items: center;
    background-color: green;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}
.input i{
    margin-right: 10px;
    font-size: 25px;
}
.input input{
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 250px;
}

.input input:focus{
    outline: none;
}
.input select{
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.forma h2{
    margin-bottom: 15px;
}

.button{
    border-radius: 10px;
    padding: 13px;
    margin: 10px auto;
    border: none;
    background-image: linear-gradient(to right, #FFC5D3, white);
    cursor: pointer;
}

.button:hover{
    transform: translateY(-2px);
    background-image: linear-gradient(to right, white, #FFC5D3);
}

/* Kraj sekcije registracija */

/* Pocetak sekcije prijava */

#prijava{
    background-color:  #FFC5D3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forma-prijava{
    background-color: rgb(255, 255, 255, 0.7);
    max-width: 700px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.dugme-prijava{
    border-radius: 10px;
    padding: 13px;
    margin: 10px auto;
    border: none;
    background-image: linear-gradient(to right, #FFC5D3, white);
    cursor: pointer;
}

.forma-prijava h2{
    margin-bottom: 15px;
}




